.App {
  /* width: 100vw; */
  height: 100vh;
  /* overflow: -moz-scrollbars-vertical; */
}

/* hero section and its components style */
.hero {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1561365452-adb940139ffa?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}


.brandName {
  font-size: 6rem;
}
.brand {
  border-right: 1px solid white;

}

a:focus{
  background-color: rgb(253, 224, 107);
}
a.silent:focus{
  background-color: inherit;
}

/* media query for carousel for large screen */
@media only screen and (max-width: 768px) {

  .col:nth-child(2n) {
    display: none;
  }
}

/* media query for carousel for medium screen */

@media only screen and (max-width: 576px) {
  .col:nth-child(2n+1):not(:first-child) {

      display: none;
  }
}

